# Цели
Здесь я собираюсь сделать модель для предсказания цены закрытия акции по информации за $N$ предыдущих дней. 
А так же проверить следущие гипотезы:
1. Рынок приспосабливается к стратегиям. Иными словами, чем дальше период на котором обучалась модель от цели предсказания, тем ниже точность предсказания.
2. Внешние данны важны. Иными словами, предсказания котировок с ипользованием внешних текстов получаются точнее, чем без них.

В роли внешних текстов используются [новости с MOEX](https://www.moex.com/ru/news/?ncat=106). А точнее, их заголовки.

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from datetime import datetime, timedelta
from sklearn.feature_extraction.text import TfidfVectorizer

# Обработка данных   
## Исходные данные
Здесь мы собираем данные как есть

### Акции

In [2]:
path_to_tools = 'data/tools/list_tools.txt'
df_tools = pd.read_csv(path_to_tools,sep='\t')
df_tools.head()

,SECID,BOARDID,SHORTNAME,PREVPRICE,LOTSIZE,FACEVALUE,STATUS,BOARDNAME,DECIMALS,SECNAME,...,PREVDATE,ISSUESIZE,ISIN,LATNAME,REGNUMBER,PREVLEGALCLOSEPRICE,CURRENCYID,SECTYPE,LISTLEVEL,SETTLEDATE
0,ABIO,TQBR,iАРТГЕН ао,73.50,10,0.10,A,Т+: Акции и ДР - безадрес.,2,"ПАО ""Артген""",...,2024-12-12,92645451,RU000A0JNAB6,ARTGEN ao,1-01-08902-A,74.420,SUR,1,2,2024-12-16
1,ABRD,TQBR,АбрауДюрсо,165.00,10,1.00,A,Т+: Акции и ДР - безадрес.,1,Абрау-Дюрсо ПАО ао,...,2024-12-12,98000184,RU000A0JS5T7,Abrau-Durso ao,1-02-12500-A,165.000,SUR,1,3,2024-12-16
2,ACKO,TQBR,АСКО ао,3.58,100,1.00,A,Т+: Акции и ДР - безадрес.,2,АСКО ПАО ао,...,2024-12-12,536000000,RU000A0JXS91,ASKO ao,1-01-52065-Z,3.580,SUR,1,3,2024-12-16
3,AFKS,TQBR,Система ао,11.93,100,0.09,A,Т+: Акции и ДР - безадрес.,3,"АФК ""Система"" ПАО ао",...,2024-12-12,9650000000,RU000A0DQZE3,AFK Sistema,1-05-01669-A,11.932,SUR,1,1,2024-12-16
4,AFLT,TQBR,Аэрофлот,48.54,10,1.00,A,Т+: Акции и ДР - безадрес.,2,Аэрофлот-росс.авиалин(ПАО)ао,...,2024-12-12,3975771215,RU0009062285,Aeroflot,1-01-00010-A,48.550,SUR,1,1,2024-12-16


### Свечи

In [3]:
path_to_all_tools_candles = 'data/candles'
dfs = []
for path_to_candles in Path(path_to_all_tools_candles).glob('*'):
    df_candles = pd.read_csv(path_to_candles,sep='\t')
    df_candles['SECID'] = path_to_candles.name[:-6]
    dfs.append(df_candles)
df_candles = pd.concat(dfs)
df_candles.head()

C:\Users\user\AppData\Local\Temp\ipykernel_19244\2080516023.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_candles = pd.concat(dfs)

,begin,end,open,high,low,close,value,volume,SECID
0,2014-06-09 00:00:00,2014-06-09 23:59:59,15.508,15.508,14.801,15.000,22579.4,1500.0,ABIO
1,2014-06-10 00:00:00,2014-06-10 23:59:59,14.871,15.153,14.871,14.881,25469.9,1700.0,ABIO
2,2014-06-11 00:00:00,2014-06-11 23:59:59,15.000,15.000,14.999,14.999,2999.9,200.0,ABIO
3,2014-06-16 00:00:00,2014-06-16 23:59:59,15.468,15.468,15.000,15.000,24522.3,1600.0,ABIO
4,2014-06-17 00:00:00,2014-06-17 23:59:59,15.100,15.120,15.100,15.120,738392.0,48900.0,ABIO


### Текст

In [4]:
path_to_text = 'data/texts/moex_title.txt'
df_text = pd.read_csv(path_to_text)
df_text.head()

,id,tag,title,published_at,modified_at
0,75803,site,"О внесении изменений в Список ценных бумаг, до...",2024-12-13 17:34:03,2024-12-13 14:34:05
1,75802,site,"Цена исполнения фьючерсов на сахар, декабрь 2024",2024-12-13 17:30:45,2024-12-13 17:30:45
2,75801,site,Дополнительные условия проведения торгов отдел...,2024-12-13 17:25:56,2024-12-13 17:25:56
3,75799,site,"13.12.2024, 17-24 (мск) изменены значения нижн...",2024-12-13 17:24:00,2024-12-13 17:25:10
4,75797,site,"13.12.2024, 17-16 (мск) изменены значения верх...",2024-12-13 17:16:09,2024-12-13 17:20:04

## Входные данные
Здесь мы приводим данные к универсальному виду, который и будем в дальнейшем передавать в модель для дальнейшей предобработки

### Акционные данные

In [5]:
df_tools = df_tools[['SECID','BOARDID','SHORTNAME','SECNAME','LOTSIZE','SECTYPE','LISTLEVEL']]
df_tools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SECID      260 non-null    object
 1   BOARDID    260 non-null    object
 2   SHORTNAME  260 non-null    object
 3   SECNAME    260 non-null    object
 4   LOTSIZE    260 non-null    int64
 5   SECTYPE    260 non-null    object
 6   LISTLEVEL  260 non-null    int64
dtypes: int64(2), object(5)
memory usage: 14.3+ KB

In [6]:
df_candles['day_date'] = df_candles['begin'].map(lambda x: datetime.strptime(x[:10],'%Y-%m-%d')) 
df_candles = df_candles[['SECID','day_date','close','value','volume']]
df_candles.head()

  SECID   day_date   close     value   volume
0  ABIO 2014-06-09  15.000   22579.4   1500.0
1  ABIO 2014-06-10  14.881   25469.9   1700.0
2  ABIO 2014-06-11  14.999    2999.9    200.0
3  ABIO 2014-06-16  15.000   24522.3   1600.0
4  ABIO 2014-06-17  15.120  738392.0  48900.0

In [7]:
df_market = df_tools.merge(df_candles,on='SECID')
df_market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525620 entries, 0 to 525619
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   SECID      525620 non-null  object
 1   BOARDID    525620 non-null  object
 2   SHORTNAME  525620 non-null  object
 3   SECNAME    525620 non-null  object
 4   LOTSIZE    525620 non-null  int64
 5   SECTYPE    525620 non-null  object
 6   LISTLEVEL  525620 non-null  int64
 7   day_date   525620 non-null  datetime64[ns]
 8   close      525620 non-null  float64
 9   value      525620 non-null  float64
 10  volume     525620 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(5)
memory usage: 44.1+ MB

### Текстовые данные

In [8]:
df_text['day_date'] = df_text['modified_at'].map(lambda x: datetime.strptime(x[:10],'%Y-%m-%d')) 
df_text = df_text[['day_date','title']].rename(columns={'title':'text'})
df_text = df_text.groupby('day_date',as_index=False)['text'].agg('\n'.join)
df_text.head()

    day_date                                               text
0 2011-12-17  О конфигурации Фондового рынка Группы ММВБ-РТС...
1 2011-12-29  Об установлении новых условий заключения сдело...
2 2012-01-12  Итоги рынков Группы ММВБ-РТС с 3 по 6 января 2...
3 2012-01-17  Итоги рынков Группы ММВБ-РТС за неделю с 9 по ...
4 2012-01-18  Об установлении новых условий заключения сдело...

## Модель-съедобный вид
Здесь мы превращаем входные данные, в данные которые пойдут непосредственно в регрессоры. А именно, в таблицу со столбцами:
* Целевой инструмент
    * Ид
    * Доп. инфо
    * 30 дней свечей (по отдельному столбцу на день)
* Весь рынок
    * Среднее
    * Дисперсия
    * Квантили
* Текст
    * 30 дней векторов новостей с рынка или с рбк (по отдельному столбцу на день)
* Дата перед предсказываемым днем
    * Год
    * Месяц
    * День месяца
    * День недели

### Автоматизация

In [ ]:

def between(dates,fd,td):
    dates = pd.Series(dates)
    return (dates >= fd) & (dates <= td)

class preparator():
    def __init__(self,):
        self.vectorizer = None

    def _transform_ticker(self,df_market_30_day):
        # ИД и пр. инфо
        df_result = df_market_30_day[[
            'SECID'
            ,'BOARDID'
            ,'SHORTNAME'
            ,'SECNAME'
            ,'LOTSIZE'
            ,'SECTYPE'
            ,'LISTLEVEL'
        ]].drop_duplicates()

        # 30 дней свечей
        df_day_pivot_candles = pd.pivot_table(df_market_30_day
                                            ,values=['close','value','volume']
                                            ,columns='day_index'
                                            ,index=['SECID'])
                                            # ,fill_value=-1)
        df_day_pivot_candles.columns = ['_'.join(map(lambda x: str(x),col)) for col in df_day_pivot_candles.columns]
        df_day_pivot_candles.reset_index()

        df_result = df_result.merge(df_day_pivot_candles,on='SECID')
        df_result.columns = ['tools.' + col for col in df_result.columns]
        return df_result

    def _transform_market_statistic(self,df_market_30_day):
        # Статистика по рынку
        def q25(x): return np.quantile(x,.25)
        def q50(x): return np.quantile(x,.5)
        def q75(x): return np.quantile(x,.75)
        df_market_statistic = pd.pivot_table(
            df_market_30_day
            ,values=['close','value','volume']
            ,columns='day_index'
            ,index=[]
            ,aggfunc=[
                'mean'
                ,'std'
                ,q25
                ,q50
                ,q75
            ]
        )
        df_market_statistic = df_market_statistic.unstack().to_frame().T
        df_market_statistic.columns = ['_'.join(map(lambda x: str(x),col)) for col in df_market_statistic.columns]

        df_market_statistic.columns = ['market.' + col for col in df_market_statistic.columns]

        return df_market_statistic

    def _transform_text(self,df_text_30_day):
        vectorizer = self.vectorizer
        df_text_30_day = (df_text_30_day['text']
                        .to_frame()
                        .apply('\n'.join)
                        .to_frame()
                        .T)
        # print(df_text_30_day)
        vectorize_text = vectorizer.transform(df_text_30_day['text'])
        vectorize_text = vectorize_text.reshape((-1,np.prod(vectorize_text.shape)))
        vectorize_text = vectorize_text.toarray()
        df_vectorize_text = pd.DataFrame(vectorize_text)
        df_vectorize_text.columns = ['text.' + str(col) for col in df_vectorize_text.columns]
        
        return df_vectorize_text

    def transfrom_one_period(self,df_market_30_day,df_text_30_day,td):
        df_result = self._transform_ticker(df_market_30_day)
        
        df_market_statistic = self._transform_market_statistic(df_market_30_day)
        df_result['key'] = df_market_statistic['key'] = 0 
        df_result = df_result.merge(df_market_statistic,on='key').drop('key',axis=1)

        df_vectorize_text = self._transform_text(df_text_30_day)
        df_result['key'] = df_vectorize_text['key'] = 0
        df_result = df_result.merge(df_vectorize_text,on='key').drop('key',axis=1)

        df_result['date.last_year'] = td.year
        df_result['date.last_month'] = td.month
        df_result['date.last_day'] = td.day
        df_result['date.last_day_of_week'] = td.day_of_week

        return df_result.reset_index(drop=True)

    def transform(self,df_market,df_text):
        # Тренировка векторайзера
        if self.vectorizer is None:
            self.vectorizer = TfidfVectorizer().fit(df_text['text'])

        # Основная логика
        DAY_DELTA = 30
        df_cld = (df_market['day_date']
                .drop_duplicates()
                .to_frame()
                .reset_index(drop=True))
        if len(df_cld) < DAY_DELTA:
            raise ValueError(f'Слишком мало дат для предсказания. Нужно еще хотя бы {DAY_DELTA - len(df_cld)}.')
        
        N = len(df_cld)
        dfs = []
        for i in range(N - DAY_DELTA + 1):
            print(i)
            df_cld_period = (df_cld[i:i+DAY_DELTA]
                            .copy()
                            .reset_index(drop=True))
            df_cld_period['day_index'] = df_cld_period.index
            fd_period = df_cld_period['day_date'].min()
            td_period = df_cld_period['day_date'].max()
            
            df_market_in_period = df_cld_period.merge(df_market,how='left',on='day_date')
            
            df_text_in_period = df_text[between(df_text['day_date'],fd_period,td_period)]

            df_transform_period = self.transfrom_one_period(df_market_in_period,df_text_in_period,td_period)
            dfs.append(df_transform_period)
        
        return pd.concat(dfs,ignore_index=True)
        # return df_text_in_period
        
df_cld_test = (df_market['day_date']
               .drop_duplicates()
               .reset_index(drop=True)
               .to_frame()
               .iloc[:31])
df_market_test = df_cld_test.merge(df_market,on='day_date')
df_text_test = df_text[between(df_text['day_date'],df_cld_test['day_date'].min(),df_cld_test['day_date'].max())] 
res = preparator().transform(df_market_test,df_text_test)
print(res.info())
res

0
1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Columns: 1046 entries, tools.SECID to date.last_day_of_week
dtypes: float64(1035), int64(6), object(5)
memory usage: 3.0+ MB
None

,tools.SECID,tools.BOARDID,tools.SHORTNAME,tools.SECNAME,tools.LOTSIZE,tools.SECTYPE,tools.LISTLEVEL,tools.close_0,tools.close_1,tools.close_2,...,text.489,text.490,text.491,text.492,text.493,text.494,date.last_year,date.last_month,date.last_day,date.last_day_of_week
0,ABIO,TQBR,iАРТГЕН ао,"ПАО ""Артген""",10,1,2,15.000,14.881,14.999,...,0.010473,0.010473,0.020946,0.010473,0.010473,0.010473,2014,7,24,3
1,ABRD,TQBR,АбрауДюрсо,Абрау-Дюрсо ПАО ао,10,1,3,133.300,131.020,133.890,...,0.010473,0.010473,0.020946,0.010473,0.010473,0.010473,2014,7,24,3
2,AFKS,TQBR,Система ао,"АФК ""Система"" ПАО ао",100,1,1,44.448,45.499,45.300,...,0.010473,0.010473,0.020946,0.010473,0.010473,0.010473,2014,7,24,3
3,AFLT,TQBR,Аэрофлот,Аэрофлот-росс.авиалин(ПАО)ао,10,1,1,58.840,58.850,58.740,...,0.010473,0.010473,0.020946,0.010473,0.010473,0.010473,2014,7,24,3
4,AKRN,TQBR,Акрон,Акрон ПАО ао,1,1,2,1228.000,1196.000,1165.000,...,0.010473,0.010473,0.020946,0.010473,0.010473,0.010473,2014,7,24,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,KUZB,TQBR,КузнецкийБ,"Банк ""Кузнецкий"" ПАО ао",10000,1,3,NaN,NaN,NaN,...,0.010677,0.000000,0.021354,0.010677,0.010677,0.010677,2014,7,25,4
370,TUZA,TQBR,ТЗА ао,Туймаз. завод автобетоновозов,10,1,3,NaN,NaN,NaN,...,0.010677,0.000000,0.021354,0.010677,0.010677,0.010677,2014,7,25,4
371,VRSBP,TQBR,ТНСэнВор-п,ТНС энерго Воронеж ПАО ап,10,2,3,NaN,NaN,NaN,...,0.010677,0.000000,0.021354,0.010677,0.010677,0.010677,2014,7,25,4
372,VSYDP,TQBR,ВыбСудЗ ап,Выборгский Суд.Завод ПАО ап,1,2,3,NaN,NaN,NaN,...,0.010677,0.000000,0.021354,0.010677,0.010677,0.010677,2014,7,25,4
373,ZVEZ,TQBR,ЗВЕЗДА ао,ЗВЕЗДА ПАО ао,1000,1,3,NaN,NaN,NaN,...,0.010677,0.000000,0.021354,0.010677,0.010677,0.010677,2014,7,25,4

# Создание модели

## Разделение на трейн-тест

In [ ]:
transformator = preparator()
def X_y_split(df_market,df_text,fd,td):
    """
    Вырезает из df_market,df_text фичи за соответствующий период fd,td и отдает y
    """
    # Календари
    market_date = (df_market['day_date']
                   .drop_duplicates()
                   .sort_values()
                   .to_frame()
                   .reset_index(drop=True))
    period_cld = pd.date_range(fd,td,freq='D',name='day_date')
    period_market_date = (period_cld
                          .to_frame(False)
                          .merge(market_date,on='day_date'))
    
    # Обрезка данных под период
    df_market_period = period_cld.to_frame(index=False).merge(df_market,on='day_date')
    df_text_period = period_cld.to_frame(index=False).merge(df_text,on='day_date')

    #Трансформация данных в фичи
    X = transformator.transform(df_market_period,df_text_period)
    
    # Подготовка данных для меток
    feature_dates_and_id = (
        X[['tools.SECID','tools.close_0']]
        .copy()
        .rename(columns={'tools.SECID':'SECID','tools.close_0':'now_close'})
    )
    feature_dates_and_id['day_date'] = (
        X[['date.last_year','date.last_month','date.last_day']]
        .apply(lambda x: datetime(x.iloc[0],x.iloc[1],x.iloc[2]),axis=1)
    ) + timedelta(1)
    df_market_for_y = feature_dates_and_id.merge(
        df_market.rename(columns={'close':'future_close'})
        ,how='left'
        ,left_on=['day_date','SECID']
        ,right_on=['day_date','SECID'])
    # Потенциальные метки
    y = pd.DataFrame(data={
            'is_falling':(df_market_for_y['future_close'] - df_market_for_y['now_close']) < 0
            ,'absolute_value':df_market_for_y['future_close']
            ,'rate':(df_market_for_y['future_close'] / df_market_for_y['now_close'])
    })

    return y['is_falling']

fd, td = datetime(2018,1,1), datetime(2018,3,1) - timedelta(1)
res = X_y_split(df_market,df_text,fd,td)
res

0
1
2
3
4
5
6
7
8
9

      is_falling  absolute_value      rate
0           True          10.350  0.884615
1          False             NaN       NaN
2           True          12.110  0.980567
3           True         136.850  0.974715
4          False         587.000  1.029825
...          ...             ...       ...
2035       False           0.384       NaN
2036       False         538.000       NaN
2037       False          21.000       NaN
2038       False             NaN       NaN
2039       False             NaN       NaN

[2040 rows x 3 columns]

In [ ]:
df_text['day_date'] = df_text['modified_at'].map(lambda x: datetime.strptime(x[:10],'%Y-%m-%d')) 
df_text = df_text[['day_date','title']].rename(columns={'title':'text'})

In [ ]:
df_text = df_text.groupby('day_date',as_index=False)['text'].agg('\n'.join)
df_text.head()

    day_date                                               text
0 2011-12-17  О конфигурации Фондового рынка Группы ММВБ-РТС...
1 2011-12-29  Об установлении новых условий заключения сдело...
2 2012-01-12  Итоги рынков Группы ММВБ-РТС с 3 по 6 января 2...
3 2012-01-17  Итоги рынков Группы ММВБ-РТС за неделю с 9 по ...
4 2012-01-18  Об установлении новых условий заключения сдело...

In [ ]:
res

0      2018-02-14
1      2018-02-14
2      2018-02-14
3      2018-02-14
4      2018-02-14
          ...
2035   2018-02-28
2036   2018-02-28
2037   2018-02-28
2038   2018-02-28
2039   2018-02-28
Length: 2040, dtype: datetime64[ns]

In [184]:
fd_td_s = [
    (datetime(2018,1,1), datetime(2018,12,31))
    ,(datetime(2020,1,1), datetime(2020,12,31))
    ,(datetime(2023,1,1), datetime(2023,12,31))
]
train_cld_s = [pd.date_range(fd,td,freq='D',name='day_date') for fd,td in fd_td_s]
test_cld_s = [pd.date_range(train_cld.max()+timedelta(1),train_cld.max()+timedelta(30),freq='D',name='day_date') for train_cld in train_cld_s]

train_market_s = [cld.to_frame(index=False).merge(df_market,on='day_date') for cld in train_cld_s]
train_text_s = [cld.to_frame(index=False).merge(df_text,on='day_date') for cld in train_cld_s]

train_market_s = [cld.to_frame(index=False).merge(df_market,on='day_date') for cld in test_cld_s]
train_text_s = [cld.to_frame(index=False).merge(df_text,on='day_date') for cld in test_cld_s]

## Обучение моделей